@model AlmeemDashboard.Models.Category

@{
    ViewBag.Title = "Edit Category";
}

<h2 class="text-center h2">Edit Category</h2>

<form asp-action="Edit" method="post" class="form-horizontal">
    <div class="form-group mt-2">
        <label asp-for="NameEn" class="control-label h6">Category Name (EN)</label>
        <input asp-for="NameEn" class="form-control" />
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="NameAr" class="control-label h6">Category Name (AR)</label>
        <input asp-for="NameAr" class="form-control" />
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
