
@if (product) {
    <mat-card appearance="raised">
        <img src="{{product.imagesUrl[0]}}" alt="">
        <!-- <h1>{{product.nameInEnglish}}</h1> -->
        <mat-card-content class="mt-2">
            <h2 class="text-sm font-semibold uppercase">{{product.nameInEnglish}}</h2>
            <p class="font-light">{{product.price}} EGP </p>
          </mat-card-content>
          <mat-card-actions (click)="$event.stopPropagation()">
            <button mat-stroked-button class="w-full">
              <mat-icon>add_shopping_cart</mat-icon>
              Add to cart
            </button>
          </mat-card-actions>
    </mat-card>
}
