<div>
    <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
    <mat-divider></mat-divider>
    <div class="flex p-4">
        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Category</h4>
            <mat-selection-list [(ngModel)]="selectedCategory" [multiple]="true">
                @for (filterByCateg of shopService.FilterByCategory; track $index) {
                <mat-list-option [value]="filterByCateg.name">{{filterByCateg.name}}</mat-list-option>
                }
            </mat-selection-list>
        </div>

        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Color</h4>
            <mat-selection-list [(ngModel)]="selectedColor" [multiple]="true">
                @for (Color of shopService.Color; track $index) {
                <mat-list-option [value]="Color.name">{{Color.name}}</mat-list-option>
                }
            </mat-selection-list>
        </div>

        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Size</h4>
            <mat-selection-list [(ngModel)]="selectedSize" [multiple]="true">
                @for (Size of shopService.Size; track $index) {
                <mat-list-option [value]="Size.size">{{Size.size}}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
    <div class="flex justify-end p-4">
        <div class="p-4 justify-end">
            <mat-selection-list [(ngModel)]="selectedNewArrival">
                <mat-list-option [value]="">{{shopService.GetNewArrival}} New Arrival</mat-list-option>
            </mat-selection-list>
        </div>

        <button mat-flat-button (click)="applyFilters()">Apply Filters</button>
    </div>